<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-header">
      <b>ID:</b> <%= mushroom.id %>
    </div>
      <div class="card-main">
        <%= image_tag "mushroom.png", height: 50 %>
        <div class="main-description">
          <% if mushroom.edible == 'e' %>
            <b>Edible</b>
          <% elsif mushroom.edible == 'p' %>
            <b>Poisonous</b>
          <% end %>
        </div>
      </div>
  </div>
</div>
